:root {
    --main-color: #f2f2f2;
    --accent-color: #FFB703;
    --third-color: #219EBC;
}

.tc-main{
    color: var(--main-color);
}

.tc-accent{
    color: var(--accent-color);
}

.tc-third{
    color: var(--third-color);
}


.morning-bg{
    background-image: url(./media/morning.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.night-bg{
    background-image: url(./media/night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.stroke-main{
    -webkit-text-stroke: 1px var(--main-color);
    text-shadow: 2px 2px darkgray;
}

.stroke-accent{
    -webkit-text-stroke: 1px var(--accent-color);
    text-shadow: 2px 2px darkgray;

}

.stroke-black{
    -webkit-text-stroke: 1px black;

}

 h1.stroke-black{
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px darkgray;

}

.btn-info{
    background-color: var(--accent-color)!important;
    border-color: black!important;
}

.bg-meteo{
    background-color: #219dbca8;
}

.line{
    line-height: 0.8;
}

.borders{
    border-radius: 50%;
}